<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="${baseDir}/Logs/NLog-Errors.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="line"
            value="------------------------------------------------------------------------------------------------------------------------" />
  <variable name="logDirectory"
            value="${baseDir}/Logs" />

  <variable name="defaultHeader"
            value="${date:format=yyyy-MM-dd HH\:mm\:ss.fff K} | ${uppercase:${level}}${newline}" />
  <variable name="defaultException"
            value="${exception:format=tostring}${when:when=length('${exception:format=Data}')>0:Inner=${newline}${exception:format=Data:exceptionDataSeparator=\r\n}}${newline}${exception:format=TargetSite}${newline}${exception:format=Source}" />
  <variable name="defaultContent"
            value="${defaultHeader}${onexception:${defaultException}${newline:when='message'!=''}}${message:when='message'!=''}" />

  <targets>
    <target xsi:type="File"
            name="errorsFile"
            fileName="${logDirectory}/Errors/Errors-${date:format=yyyy-MM-dd}.log"
            layout="${line}${newline}${defaultContent}"
            archiveEvery="Day"
            archiveFileName="${logDirectory}/Errors/Errors-{#}.log"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="2097152" />
    <target xsi:type="File"
            name="dbCommandsFile"
            fileName="${logDirectory}/DbCommands/DbCommands-${date:format=yyyy-MM-dd}.log"
            layout="${line}${newline}${defaultContent}"
            archiveEvery="Day"
            archiveFileName="${logDirectory}/DbCommands/DbCommands-{#}.log"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="2097152" />
    <target xsi:type="ColoredConsole" name="console" layout="${MicrosoftConsoleLayout}" useDefaultRowHighlightingRules="false">
      <highlight-word foregroundColor="DarkGreen" regex="^info" />
      <highlight-word foregroundColor="Yellow" regex="^warn" />
      <highlight-word foregroundColor="Black" backgroundColor="Red" regex="^fail" />
      <highlight-word foregroundColor="White" backgroundColor="Red" regex="^crit" />
    </target>
  </targets>

  <rules>
    <logger name="*" finalMinLevel="Error" writeTo="errorsFile, console" />
    <logger name="System.*" finalMinLevel="Warn" writeTo="console" />
    <logger name="Microsoft.*" finalMinLevel="Warn" writeTo="console" />
    <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" writeTo="console" />
    <logger name="Microsoft.EntityFrameworkCore.Database.Command" finalMinLevel="Info" writeTo="dbCommandsFile" />
  </rules>
</nlog>